body{
    font-family:'Poppins', sans-serif;  
}
.container h2{
    font-size: 40px;
    font-weight: 600;
}
.border{
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

.input-font{
    font-size:1.25rem;
}
.font-size{
    font-size:1.5rem;
}
.location{
    background-color: rgb(169, 169, 199);
    text-align: center;
    font-size: 15px;
    border: solid 2px black;
    border-radius: 10px;   
}
.pl-3{
        padding-left: 25px;
        background-color: aqua;
}
