.navbar-brand{
    font-size: 35px !important;
}
.font-size{
    font-size:23px;
}
.pl-5{
    padding-left: 10px;
}
.ml-5{
    margin-left: 3rem;
}

.footer{
    background-color: aqua
    ;
}
.ml-auto{
    margin-left: auto;
}
